<main>
  <div class="container mt-5">
    <h1 class="text-center font-weight-bold text-danger">Consultation Fiche Utilisateur</h1>
    <hr>
    <h3 class="text-center font-italic">Retrouvez sur cette page le détail de l'utilisateur n°<%= @user.id %></h3>
  </div>

  <div class="container mt-5">
    <p class="h5 font-weight-bold font-italic">Vos informations personnelles :</p>
    <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Adresse EMAIL</th>
        <th scope="col">Description</th>
        <th scope="col">Date de création</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @user.id %></th>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.description %></td>
        <td><%= @user.created_at %></td>
      </tr>
    </tbody>
    </table>
    <div class="text-right">
      <a href="<%= edit_user_registration_path %>" class="btn btn-primary mr-1">Modifier mes informations personnelles</a>
    </div>
  </div>

  <div class="container mt-5">
    <hr>
    <p class="h5 font-weight-bold font-italic">Vos évènements administrés :</p>
    <% i = 0 %>
    <% if @user.events_admin.count > 0%>
      <%@user.events_admin.each do |event|%>

        <a href="<%=event_path(event.id) %>" class="list-group-item list-group-item-action <%= 'active' if i%2==0 %>">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= event.title %></h5>
            <small><%= event.created_at %></small>
          </div>
          <p class="mb-1"><%= event.description %></p>
          <small>Administré par : <%= @user.first_name %> <%= @user.last_name %></small>
        </a>

        <%i += 1%>

      <%end%>

    <%else%>
      <p class="h5 text-center font-weight-bold mt-5">Aucun évènement administré</p>
    <%end%>
  </div>
</main>