<main role="main">

  <% if flash[:error] %>
    <div class="alert alert-danger mt-3" role="alert">
      <p class="h5 text-center font-weight-bold"><%= flash[:error] %></p>
    </div>
  <%end%>

  <% if flash[:success] %>
    <div class="alert alert-success mt-3" role="alert">
      <p class="h5 text-center font-weight-bold"><%= flash[:success] %></p>
    </div>
  <%end%>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenue sur EventBrite !</h1>
      <p>Grâce à EventBrite, vous pouvez facilement consulter les évènements de la ville de Nice. Vous souhaitez créer un évènement ? Avec EventBrite, vous pouvez facilement faire connaître votre évènement et gérer les participants !</p>
      <p><a class="btn btn-primary btn-lg" href="<%= new_event_path %>" role="button">Créer un évènement</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <% i = 0 %>
      <% @events.each do |event| %>
        <% if i < 3 %>

          <%= basic_grid(event) %>

          <% i += 1 %>

        <%else%>

          <% i = 1%>

          </div>
          <div class="row">

            <%= basic_grid(event) %>
            
        <%end%>
      <%end%>
  </div>
</main>

