<main>
  <div class="container mt-5">
    <h1 class="text-center font-weight-bold text-danger">Consultation d'un évènement</h1>
    <hr>
    <h3 class="text-center font-italic">Retrouvez sur cette page le détail de l'évènement n°<%= @event.id %></h3>
  </div>

  <% if flash[:success] %>
    <div class="alert alert-success mt-5" role="alert">
      <p class="h5 text-center font-weight-bold"><%= flash[:success] %></p>
    </div>
  <%end%>

  <div class="container mt-5">
    <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date de début</th>
        <th scope="col">Durée</th>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Localisation</th>
        <th scope="col">Administrateur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @event.id %></th>
        <td><%= @event.start_date %></td>
        <td><%= @event.duration %></td>
        <td><%= @event.title %></td>
        <td><%= @event.description %></td>
        <td><%= @event.price %></td>
        <td><%= @event.location %></td>
        <td><%= @event.user_admin.first_name %> <%= @event.user_admin.last_name %></td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="container text-center mb-3">
  <% if @event.event_pic.attached? %>
    <%= image_tag @event.event_pic, alt: "Image de l'évènement", width: 300 , class: "img-fluid" %>
  <% else %>
    <img src="https://via.placeholder.com/300" alt="Image de l'évènement" class="img-fluid">
  <%end%>
  </div>
  
  <% if current_user %>
    <% if current_user == @event.user_admin %>
      <div class="alert alert-success mt-5 text-center" role="alert">
        <p class="h5 text-center font-weight-bold">Vous êtes l'administrateur de cet évènement</p>
        <a href="<%= attendance_path(@event.id) %>" class="btn btn-primary mt-3">Gestion de l'évènement</a>
      </div>
    <% elsif current_user.events.include?(@event) %>
      <div class="alert alert-success mt-5" role="alert">
        <p class="h5 text-center font-weight-bold">Vous participez à cet évènement</p>
      </div>
    <% else %>
      <div class="container text-center">
        <a href="<%= new_attendance_path(event_id: @event.id) %>" class="btn btn-success">Participer à l'évènement</a>
      </div>
    <% end %>
  <%end%>
</main>